<form class="Dish" action="/dishes/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="dish-name">Edit new dish</label>
  <input type="text" name="dish-name" id="dish-name">
  <button type="submit" name="button">Submit</button>
</form>
