<form action="/stores/new" method="post">
  <label for="store-name">Store name</label>
  <input id="store-name" name="store-name" type="text">

  <label for="store-review">Store review</label>
  <input id="store-review" name="store-review" type="text">


  <button type="submit">Add</button>
</form>
